[Unit]
Description=goki
After=network.target
Requires=network.target

[Service]
#User=wiki
ExecStart=/usr/local/bin/goki --config=/home/wiki/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target

